@charset "UTF-8";

body{
    background-color: rgb(208, 208, 69);
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    }  
    h1{
    color: maroon, 178);
    background-color: goldenrod;    
    } 
    h2{
    color: rgb(170, 35, 35);    
    }
    p{
    text-align: justify;    
    }